### The purpose of this project is to predict que accidents severity in Seattle , the labels are unbalanced, and we need to do some feature engineering

In [11]:
import pandas as pd 
import numpy as np

### For this week, you will required to submit the following


- 1.-A description of the problem and a discussion of the background. 
- 2.-A description of the data and how it will be used to solve the problem.

A full report consisting of all of the following components 

- Introduction where you discuss the business problem and who would be interested in this project.
- Data where you describe the data that will be used to solve the problem and the source of the data.
- Methodology section which represents the main component of the report where you discuss and describe any exploratory data analysis that you did, any inferential statistical testing that you performed, if any, and what machine learnings were used and why.
- Results section where you discuss the results.
- Discussion section where you discuss any observations you noted and any recommendations you can make based on the results.
- Conclusion section where you conclude the report.

Your choice of a presentation or blogpost.

print(" Hello Capstone Project Course!")

1.-


The main objective of this porject is predict the severity of an accident, in order to kwon if we need to change our travel or keep the same way, we have different codes of accidents, they are numerical data divide in two categories, one categorie is prop damage and the other one is accident with a injury, we have an unbalanced values in the dataset, they are more values in one categori.

This accidents are from a traffic jam of the highway. The people that involved in the accidents were transported in a helicopter to the nearters hospital.

Based in the data, like localization, total number of people in the accident, number of vehicles involved in the accident, etc, we need to accurate the prediction

2.-
The data 

- 38 Columns one of them is the target(Severity) 
- 194673 rows
- Some Fautures have NaN values 
- We need to find the most significant columns for the prediction

In the prespective some important features are 

- Coordinates
- Total Number of people involved in the collions 
- Number of pederastioans involved in the collision
- Number of vehicules involved in the collision
- The fatalities in the collision 
- If the speed was a factor in the collision


The way that I will solve the problem is make a exploratory data analysis in order to inspect the features, check missing values,  replace missing values or even transform the data because we have a lot columns with text and only some numerical values, another issue is that unbalanced categories on the target column. After apply this transformation, I will do a feature engenering on order to keep o delete some columns, finally I will aplly a algorithm to predict the severity of the accident also with the performance metris that I need to have accurate model.

The problem to be solved may be interesting for people who want to create an application to release traffic or dangerous areas in a highway or streets city

Source of the Data : SDOT Traffic Management Division, Traffic Records Group

Metadata : https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Metadata.pdf

Methodology section which represents the main component of the report where you discuss and describe any exploratory data analysis that you did, any inferential statistical testing that you performed, if any, and what machine learnings were used and why.

Results section where you discuss the results.

Discussion section where you discuss any observations you noted and any recommendations you can make based on the results.

Conclusion section where you conclude the report.

### Methodology section 

- EDA
- Feature Engeneering
- Inferencial testing
- Model

In [90]:
df = pd.read_csv("/home/aldair913/Documents/coursera/Data-Collisions.csv",  low_memory=False)

In [91]:
list_int = list(df.select_dtypes(include=["int64"]).columns)
print(f"Int columns :{list_int} and number of columns : {len(list_int)}", sep = "\n")

Int columns :['SEVERITYCODE', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'SEVERITYCODE.1', 'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'SDOT_COLCODE', 'SEGLANEKEY', 'CROSSWALKKEY'] and number of columns : 12

In [92]:
list_float = list(df.select_dtypes(include=["float64"]).columns)
print(f"Float columns :{list_float} and number of columns : {len(list_float)}", sep = "\n")

Float columns :['X', 'Y', 'INTKEY', 'SDOTCOLNUM'] and number of columns : 4

In [93]:
list_objects = list(df.select_dtypes(include=["object"]).columns)
print(f"Object columns :{list_objects} and number of columns : {len(list_objects)}", sep = "\n")

Object columns :['REPORTNO', 'STATUS', 'ADDRTYPE', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'SEVERITYDESC', 'COLLISIONTYPE', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC', 'HITPARKEDCAR'] and number of columns : 22

In [94]:
df[list_objects].head(1)

,REPORTNO,STATUS,ADDRTYPE,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYDESC,COLLISIONTYPE,INCDATE,INCDTTM,...,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,3502005,Matched,Intersection,5TH AVE NE AND NE 103RD ST,,NaN,Injury Collision,Angles,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,...,NaN,N,Overcast,Wet,Daylight,NaN,NaN,10,Entering at angle,N

In [95]:
df[list_int].head(1)

,SEVERITYCODE,OBJECTID,INCKEY,COLDETKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SEGLANEKEY,CROSSWALKKEY
0,2,1,1307,1307,2,2,0,0,2,11,0,0

In [96]:
df[list_float].head(1)

            X         Y   INTKEY  SDOTCOLNUM
0 -122.323148  47.70314  37475.0         NaN

In [97]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [98]:
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [108]:
def create_procentaje_nan(df) -> pd.DataFrame:
    nan_columns = pd.DataFrame(df.isna().sum() * 100 / len(df))
    nan_columns.reset_index(inplace = True)
    nan_columns.columns = ["Column", "Number_values"]
    nan_columns.sort_values("Number_values", ascending=False, inplace=True)
    return nan_columns

In [100]:
# Muchos Valores NaN, vamos a borrar las columnas que tengan mas del 40 % de valores nan

In [112]:
create_procentaje_nan(df).head()

            Column  Number_values
30   PEDROWNOTGRNT      97.602646
12   EXCEPTRSNDESC      97.103861
32        SPEEDING      95.205807
25  INATTENTIONIND      84.689710
9           INTKEY      66.574718

In [101]:
def drop_miscolumns(df, portentage_miss) -> pd.DataFrame:
    df_copy = df.copy()
    porcentage_missv = pd.DataFrame(df_copy.isna().sum() * 100 / len(df))
    porcentage_missv.reset_index(inplace = True)
    porcentage_missv.columns = ["Columns", "Percentage"]
    porcentage_missv.sort_values("Percentage", ascending=False, inplace=True)
    mask = porcentage_missv.Percentage >= portentage_miss
    list_del = porcentage_missv[mask].Columns.values
    df_copy.drop(columns = list_del, inplace = True)
    return df_copy

In [102]:
df2 = drop_miscolumns(df, 35)

In [106]:
#Nos quedamos con 31 columnas

In [113]:
create_procentaje_nan(df2).head()

          Column  Number_values
19  JUNCTIONTYPE       3.251093
2              Y       2.739979
1              X       2.739979
25     LIGHTCOND       2.655736
23       WEATHER       2.610018

In [116]:
list_objects2 = list(df2.select_dtypes(include=["object"]).columns)
print(f"Object columns :{list_objects} and number of columns : {len(list_objects)}", sep = "\n")

Object columns :['REPORTNO', 'STATUS', 'ADDRTYPE', 'LOCATION', 'SEVERITYDESC', 'COLLISIONTYPE', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLDESC', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'ST_COLCODE', 'ST_COLDESC', 'HITPARKEDCAR'] and number of columns : 17

In [118]:
df_objects = df2[list_objects2]

In [134]:
#df_objects["SDOT_COLDESC"].value_counts()

In [156]:
df_objects.head(1)

,STATUS,ADDRTYPE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,Matched,Intersection,Injury Collision,Angles,At Intersection (intersection related),N,Overcast,Wet,Daylight,10,Entering at angle,N

In [153]:
#for i in range(0, len(df_objects.columns)):
#    print(df_objects.iloc[:, i].value_counts())
#    print("-----------------------------------")

In [154]:
df_objects.drop(columns=["REPORTNO", "LOCATION", "INCDATE", "INCDTTM", "SDOT_COLDESC"], inplace=True)

/home/aldair913/Downloads/yes/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [157]:
df_objects.head(1)

,STATUS,ADDRTYPE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,Matched,Intersection,Injury Collision,Angles,At Intersection (intersection related),N,Overcast,Wet,Daylight,10,Entering at angle,N

In [163]:
list_float2 = list(df2.select_dtypes(include=["float64"]).columns)

In [164]:
df_float = df2[list_float2]

In [170]:
list_int2 = list(df2.select_dtypes(include=["int64"]).columns)

In [172]:
df_int = df[list_int2]

In [173]:
df_int

,SEVERITYCODE,OBJECTID,INCKEY,COLDETKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SEGLANEKEY,CROSSWALKKEY
0,2,1,1307,1307,2,2,0,0,2,11,0,0
1,1,2,52200,52200,1,2,0,0,2,16,0,0
2,1,3,26700,26700,1,4,0,0,3,14,0,0
3,1,4,1144,1144,1,3,0,0,3,11,0,0
4,2,5,17700,17700,2,2,0,0,2,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
194668,2,219543,309534,310814,2,3,0,0,2,11,0,0
194669,1,219544,309085,310365,1,2,0,0,2,14,0,0
194670,2,219545,311280,312640,2,3,0,0,2,11,0,0
194671,2,219546,309514,310794,2,2,0,1,1,51,4308,0
194672,1,219547,308220,309500,1,2,0,0,2,14,0,0